/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 30px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.25;
}
/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}
/* .nav-start{
    flex-basis: 30%;
}
.nav-middle{
    flex-basis: 30%;
}
.nav-end{
    flex-basis: 30%;
} */

/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Paaji 2', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('../img/img5.jpg')  no-repeat center center/cover;
    height: 100vh;
    top:0px;
    left:0px;
    width: 100vw;
    z-index: -1;
    opacity:0.89;
}

#home h1{
    color:white;
    text-align: center;
    font-family: 'Baloo Paaji 2', cursive;
}

#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Paaji 2', cursive;
}
/* Services Section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{ 
    padding: 34px;
    margin: 2px 55px;
    border-radius: 15px;
    margin-bottom: 20px;
    border-top: 3px solid brown;
}
.box:hover{
    box-shadow: tomato;
}


#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Baloo Paaji 2', cursive;

} 

/* Clients Section */

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 30px;
    
}
#clients img{
    height: 124px;
}


/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Baloo Paaji 2', cursive;

}


footer{
    background: black;
    color: white;
    padding: 2px 10px;
    font-family: 'Baloo Paaji 2', cursive;
    opacity: 0.5;
}
/* Utility Classes */
.h-primary{
    
    font-size: 3rem;
    padding: 12px;
    font-family: 'Baloo Paaji 2', cursive;
}
.h-secondary{
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 2.3rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 12px;
    cursor:pointer;
    font-family: 'Baloo Paaji 2', cursive;
}
.btn :hover{
    color: brown;
    border-color: brown;
    background-color: white;
}
.center{
    text-align: center;
}
